.PlaceList {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 150vh;
  margin-top: 100px;
}

.PlaceList .PlaceCard {
  width: 49%;
  margin: 0px 35px;
  margin-bottom: -120px;
}
