.BirthList {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 150vh;
  margin-top: -200px;
}

.BirthList .BirthCard {
  width: 20%;
  margin: 20px 35px;
}
