.WorkshopCard {
  position: relative;
  width: 190px;
  min-height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.WorkshopCard-Image img {
  width: 100%;
  height: 500px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  object-fit: cover;
  box-shadow: 0px 0px 7px black;
}

.WorkshopCard-Info {
  width: 90%;
  color: rgb(234, 231, 236);
  padding: 10px;
  text-align: center;
}

.WorkshopCard-Name {
  text-align: center;
  text-transform: capitalize;
}

.WorkshopCard-Desc {
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
}

.WorkshopCard::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 20px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.WorkshopCard::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ff94ff 0%, #8f7492 100%);
  box-shadow: #ef43bb;
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.WorkshopCard p:not(.heading) {
  font-size: 14px;
}

.WorkshopCard p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.WorkshopCard:hover::after {
  filter: blur(30px);
}

.WorkshopCard:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.button-12 {
  margin-top: 15px;
  margin-left: 25px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(182, 59, 139);
  background: rgb(166, 99, 128) f;
  cursor: pointer;
  position: center;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:before {
  content: "";
  background: linear-gradient(45deg, #dea9dd, #ef43bb, #ad639d);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-12 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-12:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c094b6;
  left: 0;
  top: 0;
  border-radius: 10px;
}
