.BasketList {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 150vh;
}

.BasketList .BasketCard {
  width: 40%;
  margin-bottom: 100px;
}
