.Header {
  position: relative;
  top: 0px; /* Stick it to the top */
  height: 77px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* grid-template-areas: "logo nav"; */
  /* Cosmetics */
  background-color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.Logo {
  width: 20%;
  grid-area: logo;
  height: 70px;
  object-fit: contain;
}

.Nav {
  width: 100%;
  margin-left: 70px;
  margin-right: auto;
}

.Nav ul li {
  display: flex;
  grid-area: nav;
  grid-template-columns: repeat(7, auto);
  align-items: center;
  justify-items: center;
  text-transform: capitalize;
  display: inline-block;
  padding: 0 35px;
  cursor: pointer;
}

.Nav ul li a {
  color: white;
}

.Nav li {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
}
.Nav li:hover {
  transform: scale(1.1);
}
.Nav button {
  padding: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  background-color: #676767;
  box-shadow: 0px 5px 0px 0px #383838;
  border-radius: 10px;
  cursor: pointer;
  transition: 70ms;
}
.Nav button:hover {
  background-color: rgb(53, 54, 54);
}

.Nav button:active {
  transform: translateY(3px);
  box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
}

.Burger {
  display: none;
  grid-area: burger;
  margin: 0 20px 0 0;
  padding: 0;
  justify-self: end;
  font-size: 40px;
  border: none;
  background: none;
  outline: none;
  transition: 0.1s;
}
.Burger:active {
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .Header {
    grid-template-areas: "logo burger" "nav nav";
  }
  .Nav {
    grid-template-rows: repeat(7, auto);
    grid-template-columns: none;
    grid-row-gap: 10px;

    padding: 30px 0 30px;
    background: rgba(40, 44, 47, 0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .Burger {
    display: inline;
  }
}

.NavAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}
.NavAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}
.NavAnimation-exit {
  opacity: 1;
}
.NavAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 350ms, transform 350ms;
}
.gg-menu {
  transform: scale(var(--ggs, 1));
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}
.gg-menu::after,
.gg-menu::before {
  content: "";
  position: absolute;
  top: -6px;
}
.gg-menu::after {
  top: 6px;
}
.main {
  width: 100%;
  background: #eee;
}

/* General Menu Styling */
.mainnav {
  margin: 0 auto;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
}

.dropdown {
  position: absolute;
  width: 150px;
  top: 41px;
  opacity: 0;
  visibility: hidden;
  transition: ease-out 0.35s;
  -moz-transition: ease-out 0.35s;
  -webkit-transition: ease-out 0.35s;
  margin: 4.4px;
}

.mainnav li {
  float: left;
  padding: 5px;
  background: maroon;
  border-left: 1px dotted #fff;
}

.mainnav li:first-child {
  border: none;
}

.mainnav li a {
  display: block;
  padding: 2px 20px;
  color: #fff;
  font-family: arial;
}

.mainnav li:hover {
  background: #fff;
  transition: ease-in 0.35s;
  -moz-transition: ease-in 0.35s;
  -webkit-transition: ease-in 0.35s;
}

.mainnav li:hover a {
  color: maroon;
  transition: ease-in 0.35s;
  -moz-transition: ease-in 0.35s;
  -webkit-transition: ease-in 0.35s;
}

/* First Level */
.subs {
  left: -45px;
  position: relative;
  top: 0px;
  min-width: 180px;
  min-height: 26px;
  border-left: none !important;
  border-bottom: 1px dotted #fff !important;
  background-color: #3600;
  /* box-shadow: #d291bc; */
  /* margin-top: 6px; */
}

.subs a {
  margin-left: 8px;
}

.subs:last-child {
  border: none !important;
}

.hassubs:hover .dropdown,
.hassubs .hassubs:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transition: ease-in 0.35s;
  -moz-transition: ease-in 0.35s;
  -webkit-transition: ease-in 0.35s;
}

.mainnav li:hover ul a,
.mainnav li:hover ul li ul li a {
  color: white;
}

.mainnav li ul li:hover,
.mainnav li ul li ul li:hover {
  background: #fff;
  transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -webkit-transition: ease-in-out 0.35s;
}

.mainnav li ul li:hover a,
.mainnav li ul li ul li:hover a {
  color: maroon;
  transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -webkit-transition: ease-in-out 0.35s;
}

/* Second Level */
.hassubs .hassubs .dropdown .subs {
  left: 25px;
  position: relative;
  width: 165px;
  top: 0px;
}

.hassubs .hassubs .dropdown {
  position: absolute;
  width: 150px;
  left: 120px;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  transition: ease-out 0.35s;
  -moz-transition: ease-out 0.35s;
  -webkit-transition: ease-out 0.35s;
}
